<div class="container pt-5">
  <h1 class="text-center">{{ title }}</h1>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        id="email"
        class="form-control"
        type="text"
        name="email"
        formControlName="email"
      />
      <div
        *ngIf="form.get('email').invalid && form.get('email').touched"
        class="invalid-feedback"
      >
        <span *ngIf="form.get('email').errors.required"
          >Поле не может быть пустым</span
        >
        <span *ngIf="form.get('email').errors.email"
          >Введите корректный email</span
        >
      </div>
    </div>

    <div class="form-group">
      <label for="password">Пароль</label>
      <input
        id="password"
        class="form-control"
        type="password"
        name="password"
        formControlName="password"
      />
      <div
        class="invalid-feedback"
        *ngIf="form.get('password').invalid && form.get('password').touched"
      >
        <span *ngIf="form.get('password').errors.required">
          Поле не может быть пустым
        </span>

        <span *ngIf="form.get('password').errors.minlength">
          Длина пароля должна быть не менее
          {{ form.get("password").errors.minlength.requiredLength }} символов.
          Сейчас количество символов
          {{ form.get("password").errors.minlength.actualLength }}.
        </span>
      </div>
    </div>

    <fieldset formGroupName="address">
      <legend class="h2 text-center">Адрес</legend>

      <div class="form-group">
        <label for="country">Страна</label>

        <select
          id="country"
          class="form-control"
          name="country"
          formControlName="country"
        >
          <option value="ru">Россия</option>
          <option value="ua">Украина</option>
          <option value="by">Беларусь</option>
        </select>
      </div>

      <div class="form-group">
        <label for="city">Город</label>
        <div class="input-group">
          <input
            type="text"
            id="city"
            class="form-control"
            name="city"
            formControlName="city"
          />

          <div class="input-group-append">
            <button class="btn btn-outline-secondary btn-sm" type="button">
              Добавить столицу
            </button>
          </div>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend class="h2 text-center">Ваши навыки</legend>
      <button class="btn btn-primary btn-sm" type="button">
        Добавить умение
      </button>

      <div class="form-group">
        <label></label>
        <input class="form-control" type="text" name="" />
      </div>
    </fieldset>

    <div class="d-flex justify-content-end">
      <button
        class="btn btn-primary lar"
        type="submit"
        [disabled]="form.invalid"
      >
        Отправить
      </button>
    </div>
  </form>
</div>
